/* imports */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


/* html */
html {
  background: linear-gradient(-70deg, #fff9c5, #ffffff, #dbffdb);
  background-size: 400% 400%;
  animation: gradient-bg 5s ease infinite;
}
@keyframes gradient-bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


/* App.js */
.App {
  font-family: 'Playfair Display', serif;
  margin: 1%;
}


/* Header.js */
.Header {
  border-bottom: solid 1px black;
  margin-top: -30px;
  margin-left: 10%;
  margin-right: 10%;
  height: 175px;
}
.title {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-logo {
  margin-right: 20px;
  width: 100px;
  height: 100%;
} 


/* Nav.js */
.Nav {
  font-size: 20px;
  margin: 0px 20% 10px 20%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.section-link {
  text-align: center;
  width: 100px;
  text-decoration: none;
  color: black;
}
.section-link:hover {
  font-size: 22px;
}


/* Home.js */
.Home {
  text-align: center;
}
.welcome {
  font-size: 40px;
  margin: 100px;
  margin-bottom: 30px;
}
.use-options {
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;

}


/* Meals.js */
.Meals {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.meal-search-bar {
  display: grid;
  grid-template-columns: 4fr 1fr;
  justify-content: center;
  align-items: center;
  height: 30px;
}
.meal-search-input {
  text-align: center;
  font-size: 15px;
  width: 400px;
  height: 20px;
  box-shadow: 1px 1px 2px rgb(66, 66, 66);
  border: none;
}
.meal-search-submit-ctn {
  text-align: center;
  background-color: white;
  border: solid 1px black;
  margin-left: 20px;
  box-shadow: 1px 1px 2px rgb(66, 66, 66);

}
.meal-search-submit-ctn:hover {
  padding: 1px;
}
.meal-search-submit {
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
}
.meal-categories {
  text-align: center;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 190px 190px 190px 190px;
  justify-content: center;
  align-items: center;
}
.meal-category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.category-img {
  width: 100px;
}
.category-link {
  text-decoration: none;
  font-size: 20px;
  color: black;
}
.category-link:hover {
  font-size: 22px;
}


/* MealsByCategory.js */
.MealsByCategory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.back-to-meals {
  height: 30px;
  color: black;
  margin: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  text-decoration: none;
}
.back-to-meals:hover {
  font-size: 22px;
}
.list-meals {
  height: 700px;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
.list-meals::-webkit-scrollbar {
  display: none;
}
.meal{
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 225px;
}
.meal-img {
  margin: auto;
  margin-top: 10px;
  width: 150px;
  border-radius: 20%;
}
.meal-name {
  font-size: 18px;
  height: 70px;
  width: 200px;
  margin-top: 20px;
  text-decoration: none;
  color: black;
}
.meal-name:hover {
  font-size: 19px;
}


/* Meal.js */
.Meal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.back-to-mealsbycategory {
  height: 30px;
  color: black;
  font-size: 20px;
  text-decoration: none;
  margin: 20px;
  margin-bottom: 15px;
}
.back-to-mealsbycategory:hover {
  font-size: 22px;
}
.selected-info {
  display: grid;
  width: 700px;
  height: 700px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border-radius: 10%;
}
.selected-img {
  border-radius: 10%;
  margin: 30px;
  width: 250px;
}
.selected-info-top-right {
  margin-left: 10px;
  margin-right: 30px;
}
.selected-name {
  font-size: 25px;
}
.selected-area {
  font-size: 20px;
  font-weight: normal;
}
.selected-tutorial-link {
  font-size: 20px;
  height: 30px;
  width: 10px;
  text-decoration: none;
  color: red;
}
.selected-tutorial-link:hover {
  font-size: 22px;
}
.selected-info-bottom-left {
  margin: 30px;
  margin-top: -30px;
}
.selected-ingredients {
  text-align: center;
}
.ingredients-list {
  text-align: left;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
  width: 200px;
  height: 320px;
}
.ingredients-list::-webkit-scrollbar {
  display: none;
}
.selected-info-bottom-right {
  margin-top: -90px;
  margin-right: 30px;
  
}
.selected-instructions-title {
  text-align: center;
}
.selected-instructions {
  margin-top: -10px;
  width: 350px;
  height: 370px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border-radius: 10%;
  padding: 10px;
}
.selected-instructions::-webkit-scrollbar {
  display: none;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
}